body{
color:#F0F0F0;
font-family:sans-serif;
}
*{
color:inherit;
font-family:inherit;
}
html,body{
background:#101010;
height:100%;
}
body{
margin:0;
padding:8px;
box-sizing:border-box;
}
*:not(h1,h2,h3,h4,h5,h6,small,big,rt,sup,sub){
font-size:inherit;
}
.box1,.box2,td,img,input,select,keygen,canvas,textarea,button,code,fieldset{
background:rgba(240,240,240,0.067);
}
th{
background:rgba(240,240,240,0.129);
}
*:disabled,.disabled{
opacity:0.4;
}
input:checked{
background:#E0E0E0;
}
embed,*.day{
background:white;
color:black;
}
.box1,.box2,td,th,img,input,select,keygen,canvas,textarea,button,code,fieldset,mark{
border-radius:8px;
}
img{
max-width:100%;
}
*:not(meter,.day){
appearance:none;
-webkit-appearance:none;
}
.box1,.box2,td,th,img,input,select,keygen,canvas,textarea,button,code,fieldset,embed{
border:1px solid #F0F0F0;
}
.box1,.box2,td,th,input,select,keygen,textarea,code{
box-sizing:border-box;
padding:4px;
}
mark{
padding:2px;
margin:2px;
background:#40F040;
}
button,input[type=button],input[type=submit],input[type=reset]{
padding:4px 8px;
}
a:link{
text-decoration:none;
color:#8080F0;
}
a:visited{
color:#C080C0;
}
a:hover{
text-decoration:underline;
}
h1,h2,h3,h4,h5,p{
margin:8px 0;
}
em{
color:#80F080;
font-style:italic;
}
strong{
font-weight:bold;
font-variant:small-caps;
}
blockquote{
margin:8px 0 0 30px;
}
.§0{color:#000}
.§1{color:#00a}
.§2{color:#0a0}
.§3{color:#0aa}
.§4{color:#a00}
.§5{color:#a0a}
.§6{color:#fa0}
.§7{color:#aaa}
.§8{color:#555}
.§9{color:#55f}
.§a{color:#5f5}
.§b{color:#5ff}
.§c{color:#f55}
.§d{color:#f5f}
.§e{color:#ff5}
.§f{color:#fff}
.§l{text-weight:bold}
.§m{text-decoration:line-through}
.§n{text-decoration:underline}
.§o{text-style:italic}
textarea{
-webkit-overflow-scrolling:touch;
}